<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NER Extractor</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <style>

    </style>
</head>
<body>
    <div class="container">
        <h1>Preview Extracted Entities</h1>
        <form action = "form", method="post">
            <textarea id="msg" name="msg" rows="10" cols="100" placeholder="Enter your text here" required></textarea>
            <br><br>
            <!--<input type="radio" id="all" name="style" value="all">
            <label for="all">All Extracted Entities</label><br>
            <input type="radio" id="targeted" name="style" value="targeted">
            <input type="hidden" name="options" value="">
            <label for="targeted">Targeted Extracted Entities</label><br>-->
            <input type="submit" value="Submit"> 
            <input type="button" value="Clear Text" onclick="document.getElementById('msg').value='';"/>
        </form>
        <a href="/" class="button">Return to Index</a>
    </div>
    
</body>
</html>